body{
    margin: 0;
    padding: 0;
    background-color: #DBF3E3;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}      

.container{
    width: 900px;
    height: 500px;
    display: grid; 
    gap: 1em;
    grid-template-areas: 
        "first-img  main-title  rocket-img"
        "first-img  space  rocket-img"
        "stars  space  rocket-img";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 1fr auto;
}  
  
.first-img{
    grid-area: first-img;
    margin-bottom: -1.8em;
}

.first-img img{
    height: 295px;
    width: 300px;
}

.main-title{
    grid-area: main-title;
}

.rocket-img{
    grid-area: rocket-img;
}

.last-tittle{
    grid-area: space;
    margin-top: 1.5em;
}

.stars{
    grid-area: stars;
}

.title{
    background-color: #fff;
    width: 268px;
    margin-top: -.5em;
    padding: .3em 0 .5em 2em;
}

.title h1{
    font-size: 20px;
}

.title p{
    font-size: 16px;
} 

.main-title{
    background-color: #33A559;
    height: 225px;
    padding: 1.5em;
    margin-top: 0em;
}

.main-title h1{
    font-size: 26px;
    color: #fff;
}
.main-title p{
    color: #fff;
    font-size: 18px;
    line-height: 147.09%; /* 26.476px */
    letter-spacing: 2px;
}  
.last-tittle{
    background-color: #AFDDBE;
    color: #79BA8F;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 278px;
}    
.last-tittle h1{
    justify-self: center;
}