body{
    margin: 0;
    padding: 0;
    background-color: #DBF3E3;
    height: 100vh;
}

.container{
    margin: 0 auto;
    width: 700px;
    height: 500px;
}

.title{
    background-color: #fff;
    width: 300px;
    margin-top: -1.6em;
}

.title h1{
    font-size: 20px;
}

.title p{
    font-size: 16px;
}

