body{
    margin: 0;
    padding: 0;
    background-color: #DBF3E3;
    height: 100vh;
}

.container{
    margin: 0 auto;
    width: 700px;
    height: 500px;
    margin: 2em;
    display: grid;
    grid-template-areas: 
        "first-img  main-title  rocket-img"
        "first-img  space  rocket-img"
        "stars  space  rocket-img";
}

.first-img{
    
}

.title{
    background-color: #fff;
    width: 268px;
    margin-top: -.5em;
    padding: .3em 0 .5em 2em;
}

.title h1{
    font-size: 20px;
}

.title p{
    font-size: 16px;
}

.main-title{
    background-color: #33A559;
    width: 253px;
    padding: 1.5em;
    margin-top: 1em;
}

.main-title h1{
    font-size: 26px;
    color: #fff;
}

.main-title p{
    color: #fff;
    font-size: 18px;
    line-height: 147.09%; /* 26.476px */
    letter-spacing: 2px;
}

.last-tittle{
    background-color: #AFDDBE;
    color: #79BA8F;
    width: 300px;
    text-align: center;
    /* height: 200px; */
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-tittle h1{
    justify-self: center;
}

